{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, '') }}

{% macro menu_links(items, attributes, menu_level, menu_id) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'nav', 'navbar-nav') }}>
      {% set attributes = attributes.removeClass('nav', 'navbar-nav')%}
    {% else %}
      <ul{{ attributes }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.in_active_trail ? 'active-trail',
          item.is_active ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
      {% if item.below  %}
        {%
          set submenu_classes = [
            'collapse',
            item.in_active_trail ? 'in',
          ]
        %}
        {% if  menu_level == 0 %}
          {% set item_id = "menu-" ~ loop.index %}
        {% else %}
          {% set item_id = (menu_id ~ '-' ~ loop.index) %}
        {% endif %}
        {% set attributes = attributes.setAttribute('id', item_id ).removeClass('in').addClass(submenu_classes) %}
        <a class="collapse-toggle" data-target="#{{ item_id }}" data-toggle="collapse" aria-expanded="{{ item.in_active_trail ? 'true' : 'false' }}"><span class="glyphicon glyphicon-{{ item.in_active_trail ? 'minus' : 'plus' }}-sign" aria-hidden="true"></span></a>
      {% endif %}
      {{ link(item.title, item.url) }}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1, item_id) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
